/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #222;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: #e50914; /* Vermelho */
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    color: white;
    font-size: 36px;
}

main {
    padding: 20px;
}

#form-section, #films-list {
    margin-bottom: 40px;
}

h2 {
    font-size: 28px;
    color: #e50914;
}

label {
    display: block;
    margin-top: 10px;
    font-size: 18px;
}

input[type="text"], input[type="number"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-top: 5px;
}

button {
    background-color: #e50914;
    color: white;
    padding: 10px 20px;
    border: none;
    font-size: 18px;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
}

button:hover {
    background-color: #b5060f;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #444;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #e50914;
    color: white;
}

td {
    background-color: #333;
}

.rating {
    display: flex;
    transform: translate(-15%,1%) rotateY(180deg); /* Mantém a rotação */
}
  
  .rating input{
    display: none;
  }
  
  .rating label{
      display: block;
      cursor: pointer;
      width: 50px;
  }
  
  .rating label:before{
    content: '\f005';
    font-family: fontAwesome;
    position: relative;
    display: block;
    font-size: 50px;
    color: #0e1316;
  }
  
  .rating label:after{
    content: '\f005';
    font-family: fontAwesome;
    position: absolute;
    display: block;
    font-size: 50px;
    color: #ffff00;
    top: 0;
    opacity: 0;
    transition: .5;
    text-shadow: 0 4px 5px rgba(0, 0, 0, .5);
  }
  .rating label:hover:after,
  .rating label:hover ~ label:after,
  .rating input:checked ~ label:after{
    opacity: 1;
  }
  
footer {
    text-align: center;
    background-color: #111;
    padding: 10px;
    color: #ccc;
    position: fixed;
    width: 100%;
    bottom: 0;
}